body {
	font: normal 20px 'Proxima', sans-serif;
}

body {
    background: #f5f5f5;
    color: #6d6d6d;
    overflow-x: hidden;
    position: relative;
}

ul {
	padding-left: 0;
}

#wrapper {
    padding: 0;
}

.padding-lf--0 {
	padding-left: 0;
}

.margin-top--20 {
	margin-top: 20px;
}
.padding-top--20 {
    padding-top: 20%;
}
/*#btn__sideNavigation.opened:before {
    content: '\f00d';
}*/
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.bg-body--active {
    background-color: rgba(0,0,0,0.4);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(29, 29, 29, 0.98);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    /*transition: 0.3s;*/
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#wrapper {
    transition: margin-left .5s;
    padding: 0;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* --- Header --- */

#header, #avatar, #name, #title {
    position: relative;
}
#header {
    color: #fff;
    text-align: center;
    background: #000;
}
#headerContainer {
    position: relative;
    padding: 4em 0;
    background: url(../images/digital-388075_1920.jpg) center center no-repeat;
    background-size: cover;
}

.opacity--8 {
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    left: 0;
}

.opacity--8, .gradientLeft, .gradientRight {
    position: absolute;
    top: 0;
}

.gradientLeft {
    background: url(https://www.michaeljanea.com/images/misc/gradientLeft.png) repeat-y left;
    left: 0;
}

.gradientRight {
    background: url(https://www.michaeljanea.com/images/misc/gradientRight.png) repeat-y right;
    left: inherit;
    right: 0;
}

.gradientLeft, .gradientRight {
    width: 360px;
    height: 100%;
}
#name {
    font: normal 60px 'Pacifico', cursive;
    margin-top: .5em;
    color: rgba(255, 255, 255, .9);
}

#title {
    font-size: 30px;
}

#arrow {
    cursor: pointer;
    width: 33px;
    height: 31px;
    display: block;
    margin: 3em auto 2em;
}

/* --- About --- */

#about, #portfolio, #contact {
    padding: 0.5em 0 3em;
}

h1 {
    font-family: 'ProximaBold', serif;
    color: #506a85;
    text-transform: uppercase;
    font-size: 70px;
}
/* --- Resume --- */
#resume .progress {
    background: #e1e1e1;
}
/* --- Portfolio --- */
#portfolio .navigation a.active {
    background: #222;
    color: #fff;
}

#portfolio .navigation a:hover {
    text-decoration: none;
}

#portfolio .navigation a {
    background: #e1e1e1;
    display: block;
    padding: .3em .8em;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #222;
}

#portfolio .navigation li {
    display: inline-block;
    margin-bottom: .5em;
}

.title-section {
    margin: 0;
    font: bold 60px 'Montserrat', sans-serif;
    border-bottom: 4px solid #373432;
    display: inline-block;
    margin-bottom: .75em;
    color: #373432;
}



/* --- Animation --- */

#wrapper {
    margin-left: 0;
}
#sideNavMenu {
    width: 0;
}
#sideNavMenu.side__nav--opened {
    width: 250px;
}

#wrapper.side__nav--opened {
    margin-left: 250px;
}

/* --- Buttons --- */

#btn__sideNavigation {
    background: #e6e6e6;
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 100;
    cursor: pointer;
    -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    -webkit-border-radius: 100px;
    border-radius: 50%;
}

#btn__sideNavigation a {
    display: block;
    padding: 15px;
}

.bar1 {
    margin-top: 3px;
}

.bar3 {
    margin-bottom: 0 !important;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: .4s;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
    transition: .4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* --- End Buttons --- */
/* --- Contact --- */

#contact {
	background-color: #506a85;
	color: #fff;
	padding-bottom: 20px;
}

.captcha {
	height: 60px;
}

@media screen and (max-width: 320px){
    .title-section{
        font-size: 50px;
    }
}

@media screen and (max-width: 414px){
    .fs-xs--12 {
        font-size: 13px;
    }
}

@media (min-width: 1200px)
bootstrap.min.css:10
.container {
    width: 1170px;
}

@media only screen and (min-width: 1280px) {
	.container--form {
	    width: 35%;
	}
}

textarea.form-control {
    max-height: 115px;
}

